<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<!--  <p class="menu_principal"> MENU PRINCIPAL </p>-->
  <div class="menu_content">
    <ion-card>
      <ion-card-title> MENU PRINCIPAL </ion-card-title>
      <div class="menu_buttons">
        <ion-button size="small" strong="true" class="menu_item" (click)="play()"> Jouer </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Statistiques </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Classement </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Boutique </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Recompenses </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Paramètres </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Quitter le jeu </ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <div class="page_bottom">
    <p>Un jeu basé sur les enseignements de l’école KIMUNTU</p>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>
