@font-face {
  font-family: 'Din OT';
  src: url('../../../../fonts/Dinot.otf') format('opentype');
}
ion-content{
  --background: url('../../../assets/images/432b2ce04011b1fef17901a7f6ff84d0.jpg') no-repeat center center / cover;
}
.menu_content{
  padding-top: 190px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
ion-card{
  --background: transparent;
}
ion-card-title{
  margin-left: 100px;
  font-size: 18px;
}
.menu_buttons{
  display: flex;
  flex-direction: column;
}
.menu_item{
  --background: #D09100;
  width: 152px;
  margin-left: 100px;
  font-weight: 600;
  font-family: Din OT, SansSerif;
  font-size: large;
  color: black;
}
.page_bottom{
  vertical-align: bottom;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
p{
  font-size: 12px;
}
