<ion-content [fullscreen]="true">
  <div class="content">
    <img src="../../../assets/images/load_logo.png" class="logo" width="822" height="668">
    <p class="load"> Chargement du jeu... </p>
    <ion-progress-bar color="warning" class="progressBar" [value]="progress"></ion-progress-bar>
<!--    <div id="proBar" data-prog="10%"></div>-->
  </div>
</ion-content>

<ion-footer>
  <div class="page_bottom">
    <p class="foot">Un jeu basé sur les enseignements de l’école KIMUNTU</p>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>
