<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu_content">
    <ion-card>
      <ion-card-title> NIVEAU DE JEU </ion-card-title>
      <div class="menu_buttons">
        <ion-button size="small" strong="true" class="menu_item" (click)="start()"> Debutant </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Intermédiaire </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Expert </ion-button>
        <ion-button size="small" strong="true" class="menu_item"> Universel </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div class="page_bottom">
    <p>Un jeu basé sur les enseignements de l’école KIMUNTU</p>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>
