<ion-header>
  <div class="page_top">
    <img src="assets/images/doka.png" width="95" height="25" class="doka">
    <span class="pseudo">Pseudo</span>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-card class="questions">

      <ion-card-subtitle>
        <span class="sub_title"> Question N: </span>
        <img src="../../../assets/images/photo.png" class="photo">
        <span class="sub_title"> Difficulte: </span>
      </ion-card-subtitle>

      <ion-card-content>
        Comment appelle-t-on les particules énergétiques
        non solides vibrant à des fréquences données?
      </ion-card-content>

    </ion-card>

    <p class="status">
      <img src="../../../assets/images/ELEMENTS/eclair.png" width="22" height="50"> <span class="info"> 1 ki </span>
    </p>

    <div class="menu_content">
      <ion-card class="answers">
        <div class="menu_buttons">
          <ion-button size="large" strong="true" class="menu_item"> <span class="number">1</span> <span class="ans">Aucune réponse n’est juste</span> </ion-button>
          <ion-button size="large" strong="true" class="menu_item"> <span class="number">2</span> <span class="ans">KUNKEKO</span> </ion-button>
          <ion-button size="large" strong="true" class="menu_item"> <span class="number">3</span> <span class="ans">NKEKO</span> </ion-button>
          <ion-button size="large" strong="true" class="menu_item"> <span class="number">4</span> <span class="ans">KANKEKO</span> </ion-button>
        </div>
      </ion-card>
    </div>

  </div>

</ion-content>

<ion-footer>
  <div class="page_bottom">
    <div class="footer_menu_buttons">
      <ion-button size="small" strong="true" class="valider"> Valider </ion-button>
      <ion-button size="small" strong="true" class="affrep"> Afficher la reponse </ion-button>
      <ion-button size="small" strong="true" class="quit"> Quitter la partie </ion-button>
    </div>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>
