<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu_content">

    <img src="../../../assets/images/edf16700ed8d025d5cfd0fc622e3d94c.jpg" class="sphynx" width="425" height="640">

    <ion-card>

      <ion-card-title> MODULES DE QUESTIONS </ion-card-title>

      <div class="menu_buttons">

        <ion-grid>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item" (click)="choose()"> Kintangulu dia NZA </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Kimuntu </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> DISU-MU au MASU-MU </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Les BIMWELOS </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Intro. au KI-NSONO </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Techniques ZOLE </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> NTINU </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Science KI-NDOKI </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> KISONO DIA NZA </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> NDOSI </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Cosmogonie KONGO </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> MUNU KIA NSI... </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Intro. au couleurs </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Les 5 sens du MUNTU </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Techniques NTENTE </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> MENGA </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Mystères BISELIYA </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> MBONGO </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> Le Muntu Multidim. </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" strong="true" class="menu_item"> DIA </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </div>
      <div class="nav_options">
        <img src="">
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div class="page_bottom">
    <p>Un jeu basé sur les enseignements de l’école KIMUNTU</p>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>
