<ion-content [scrollEvents]="false" [fullscreen]="true">
  <div class="container_circles_vector">
    <ion-card>
      <ion-img src="../../assets/images/Group.png" class="circles_vector"></ion-img>
      <div>
        <ion-button size="small" strong="true" class="connexion" (click)="connect()"> Se connecter </ion-button>
        <ion-button fill="clear" size="small" strong="true" class="inscription" (click)="sign()"> S'inscrire </ion-button>
        <ion-button size="small" strong="true" class="sortie"> Sortir </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div class="page_bottom">
    <p>Un jeu basé sur les enseignements de l’école KIMUNTU</p>
    <img src="assets/images/kmt_logo.png" width="25px" height="25px">
  </div>
</ion-footer>

